<p>Hello {{name}}, your email: {{email}} needs to be confirmed</p>
<a href='http://localhost:5000/email/confirmation/{{id}}'>
  click to confirm email
</a>
<p>Copy and paste this link: http://localhost:5000/email/confirmation/{{id}}</p>